.about_section {

    .salutation_container {
        flex-direction: row-reverse;
        justify-content: space-around;

        .salutation {
            font-size: 2em;
        }
    
        .profile_img {
            width: 50%;
        }
    }
}