.projects_section {

    .project_container {

        .project_imgs_container {
    
            .modal {
                align-items: center;
    
                .modal_project_imgs {
                    width: 80%;
                    max-width: 1000px;
                    max-height: 100%;
                }
            }
        }
    }
}